#login
  %h1 Please Login to Edit Your Staff Profile
 
  - form_tag "staff_profile_admin_login" do
    %p
      %label{:for=>"staffuser_login"} Username
      = text_field "staffuser", "login", :class => 'textbox activate', :value => '', :maxlength => 40, :size => 40
    %p
      %label{:for=>"staffuser_password"} Password
      = password_field "staffuser", "password", :class => 'textbox password', :value => '', :maxlength => 40, :size => 40
      &nbsp;
      %span.remember_me
        = check_box_tag :remember_me, 1, false, :class => 'checkbox'
        %label.checkbox{:for=>"remember_me"} Remember me
    %p.buttons
      %input.button{:type=>"submit", :value=>"Login"}