- content_for 'page_css' do
  :sass
    div.biography
      margin: 5px 20px
      color: #444

    #content .form-area div.error-with-field
      font-family: Georgia,Palatino,"Times New Roman",Times,serif
      font-size: 200%
      width: 100%

    input.textbox
      width: 300px

    input.textbox-short
      width: 40px

    input.textbox-long
      width: 500px

    textarea.textarea-small
      height: 75px !important
      width: 100%
      display: block

    textarea.textarea-large
      height: 150px !important
      width: 100%
      display: block

    input.file
      margin: 50px 0

    img.photo
      margin: 5px 0
      border: 2px solid #fff

    a.help
      font-size: 75%
      color: #0D0